body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    background: linear-gradient(#CBB8B1, #CFD2D7);
    color: #302725;

}

.top-three-activities {
    text-decoration: underline;
    text-underline-offset: 8px;
    font-size: 30px;
    text-decoration-thickness: 5px;
}

.aden-military-museum {
    text-decoration: line-through;
}

.cover-div {
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 400px;
    align-items: center;
    background-image: url("images/aden-city.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.visit-aden {
    padding: 5px;
    margin-top: 100px;
    width: 200px;
    border-radius: 5px;
    background-color: #CBB8B1;
}

.enjoy-desc {
    width: 50%;
    padding: 5px;
    background-color: #302725;
    border-radius: 5px;
}

.cover-div h1, .cover-div p {
    margin: 0 auto;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px black;
}

.top-three {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
}

.mid-div {
    padding-top: 50px;
    justify-content: space-around;

}
.activities-img {
    width: 220px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
}

.img-dec {
    width: 250px;
}

.mid-div {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
}

.guide-info {
    display: flex;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    margin-top: 100px;
    border-radius: 5px;
    background-color: #A89C9A;
    margin-bottom: 20px;
    border-bottom: 8px solid #434C59;
}

.guide-img {
    width: 220px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
}